html * {
    font-family: 'Cascadia Mono';
}
h1 {
    font-size: 60px;
    display: grid;
    align-content: center;
    justify-content: center;
    border:solid;
    border-color: white;
    width: fit-content;
    margin:auto;
    white-space: nowrap;
    border-width: 5px;
    border-radius: 10px;
    color: white;
    box-shadow: 4px 4px black;
}

body{
    background-color: rgb(84, 247, 247);
    color: black;
}

#container{
    display: grid;
    height: 80vh;
    grid-template-rows: 1fr 0.2fr;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    justify-items: center;
    margin-top: 10px;
}

#board {
    display: grid;
    border: 1px solid white;
    border-width: 5px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 4px grey;
    width: 500px;
    height: 500px;
    align-content: center;
    justify-items: center;
    font-size: 100px !important;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: "one two three"
                        "four five six"
                        "seven eight nine"
    ;
}       

.grid{
    background-color: transparent;
    width: 100%;
    font-size: 50px;
}

#reset{
    margin-left: 50%;
    grid-area: 4 / 2;
}
#startBtn{
    margin-right: 50%;
    grid-area:4 / 2;
}


#p1-name, #p2-name {
    width: 200px;
    height: 30px;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 4px 4px black;
}

.input{
    display:grid;
    justify-items: center;
}

input[type="color"]{
    width: 75px;
    height:75px;
    max-width: 100%;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 4px 4px black;

}
input[type="color"]::-webkit-color-swatch{
    border-radius: 50px;
}

.button{
    -webkit-appearance: none;
    background-color: white;
    width: 100px;
    border-radius: 10px;
    box-shadow: 4px 4px black;
}

.player-names{
    font-size: 75px;
}